.root {
  --bg-gradient-opposite: linear-gradient(
    90deg,
    rgb(251, 165, 103) 25%, /* Adjusted for a similar look in reverse */
    rgb(246, 98, 49) 80% /* Adjusted for a similar look in reverse */
);}

.footer {
  background:var(--bg-gradient-opposite); /* Use your own color scheme */
  padding: 12px 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__box {
  flex: 1; /* Adjust as needed, maybe min-width for smaller screens */
  margin: 10px;
}

.footer__box a {
  display: inline-block;
  margin-right: 15px; /* Space between icons */
}

.footer__box img {
  height: 24px; /* Small icon size */
  width: 24px;
  object-fit: contain; /* Keeps the aspect ratio of the image */
}

.emailSection {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Space from the icons */
}

.emailSection input,
.emailSection button {
  padding: 8px 12px;
  margin-right: 10px; /* Space between input and button */
  border: none;
  border-radius: 4px;
}

.emailSection button {
  background-color: #000; /* Use your brand color */
  color: white;
  cursor: pointer;
}

.footer__title {
  font-size: 1.2rem; /* Title size */
  margin-bottom: 10px; /* Space under title */
}

.footer__links {
  list-style-type: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 5px; /* Space between link items */
}

.footer__links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__links li a:hover {
  color: #ddd; /* Color on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__box {
    flex-basis: 100%; /* Full width */
    text-align: center;
    margin: 10px 0; /* Space between boxes */
  }

  .emailSection {
    flex-direction: column;
  }

  .emailSection input,
  .emailSection button {
    width: 100%; /* Full width for mobile */
    margin: 5px 0; /* Stack input and button */
  }
}

/* Copyright text styling */
copyright {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 15px;
}