/* UserDashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');


.rbc-calendar,
.rbc-event-content {
  font-family: 'PlayFair Display', sans-serif;
}

.rbc-toolbar {
  background: var(--bg-gradient);
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 8px;
  color: white;
}

.rbc-toolbar label {
  font-weight: bold;
  color: white;
}

.rbc-calendar {
  height: auto; 
  max-width: 100%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(244, 6, 97, 0.747);
  
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns */
  grid-gap: 20px; /* space between grid items */
  flex-wrap: wrap;
}

 .rbc-event {
  /* background-color: var(--primary-color);  */
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  font-size: 0.875rem;

}
/* .rbc-event {
  padding: 4px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
} */



.rbc-event:hover {
  background-color: #fb8c00; /* Darker orange on hover */
}


.event-agenda-desc {
  overflow-y: auto; /* Allows vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrolling */
  max-height: 3em; /* Maximum height before scrolling */
  scrollbar-width: thin; /* Makes scrollbar 'thin' for non-WebKit browsers */
  scrollbar-color: #e67e22 #ffe0b2; /* Scrollbar color for non-WebKit browsers */
}

.event-agenda-desc::-webkit-scrollbar {
height: 5px;
  width: 5px; /* Sets the width of the scrollbar */
}

.event-agenda-desc::-webkit-scrollbar-thumb {
  background: #f19748; /* Scrollbar thumb color */
  border-radius: 10px;
}

.event-agenda-desc::-webkit-scrollbar-track {
  background: #ffe0b2; /* Scrollbar track color */
}

/* Event content padding and text alignment */
.rbc-event-content {
  padding: 4px 10px;
  text-align: center;
  cursor: pointer;
  height: 100px;
}

/* Date cell styles */
.rbc-date-cell {
  padding: 2px;
  font-weight: bold;
  color: var(--heading-color);
}

/* Time slot styles */
.rbc-timeslot-group {
  border: 1px solid #ffe0b2;
}

/* Today's date styling */
.rbc-today {
  background-color: #ffe0b2 !important;
}

/* Style for different states of days */
.rbc-off-range-bg {
  background: #fdf2e9;
}

.rbc-selected-cell {
  background-color: #ffccbc;
}

/* Adjusting times and dates for better visibility */
.rbc-time-header,
.rbc-day-bg {
  background-color: #fdf2e9;
}

.rbc-time-header .rbc-label,
.rbc-time-content .rbc-time-slot {
  color: var(--heading-color);
  font-weight: bold;
}

/* Month view adjustments */
.rbc-month-row {
  border-bottom: 1px solid #ffccbc;
}

.rbc-month-header {
  color: var(--heading-color);
  font-weight: bold;
}

/* Buttons style */
.rbc-btn {
  color: var(--heading-color);
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ffccbc;
  border-radius: 4px;
}

/* Hover effect on buttons */
.rbc-btn:hover {
  background-color: #ffccbc;
  color: white;
}

/* Adjust the event title display to not show times and allow for potential multi-line titles */
.rbc-event-label,
.rbc-event-content {
  white-space: normal; /* Allows text to wrap */
  text-overflow: clip; /* Removes the ellipsis effect */
}

/* Event title styles */
.event-agenda-title {
  padding: 4px 10px; /* Padding inside the title area */
  text-align: center; /* Center the text */
  font-size: 0.85rem; /* Smaller font size for the title */
  color: white; /* White text color */
  overflow: hidden; /* Hide overflow */
}

.trainer-list {
  margin-top: 20px;
  padding: 20px;
  background: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.trainer-list h3 {
  color: var(--heading-color);
  margin-bottom: 10px;
}

.trainer-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.trainer-list li {
  background: var(--bg-gradient);
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
} 



.chat-fab-container {
  position: fixed;
  right: 2rem; /* 32 pixels */
  bottom: 2rem;
  z-index: 1000
  ; /* Ensure it's above other elements */
}

.chat-fab {
  background-color: #ff740a; /* Softer blue color */
  color: #a4d10e;
  border: none;
  border-radius: 50px; /* Fully rounded corners for a pill shape */
  padding: 0.75rem 1.5rem; /* Vertical and Horizontal padding */
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2); /* Softer shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transitions for interaction */
  font-weight: 500; /* Medium font weight */
  font-family: 'PlayFair Display', sans-serif;
  text-transform: uppercase; /* Uppercase text for emphasis */
}

.chat-fab:hover {
  background-color: #ff740a; /* A darker shade of blue for hover state */
  box-shadow: 0 5px 25px rgba(0,0,0,0.3); /* Enhanced shadow on hover */
  transform: scale(1.05); /* Slight increase in size on hover */
}

.chat-fab:focus {
  outline: none; /* Remove focus outline */
  box-shadow: 0 0 0 4px rgba(206, 114, 9, 0.999); /* Focus ring with softer blue color */
}


.search-bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.search-bar input[type="text"],
.search-bar select {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #ff8800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Results and sorting options */
  .search-results {
    background-color: red; /* Temporarily set a background color */
    min-height: 100px; /* Temporarily ensure the container has height */
  }


.search-results-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #db7171;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-results-header .results-count {
  font-size: 18px;
  color: #333;
}

.search-results-header .sort-options {
  display: flex;
  align-items: center;
}

.search-results-header select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;

}

:root {
  --gradient-start: #7b4397; /* Start color for gradient */
  --gradient-end: #dc2430;   /* End color for gradient */
  --input-bg: #ffffff;       /* Input background color */
}

.YourCustomModalClass {
  background: linear-gradient(to bottom, #ffffff 0%, #fdc6c6 100%);
  padding: 20px;
  box-shadow: 0 6px 25px rgba(255, 151, 151, 0.862);
  z-index: 10000; /* High z-index to ensure it's on top of other elements */
  width: 80%; /* Adjusted width */
  max-width: 450px; /* Maximum width */
  height: auto;
  max-height: 80%; /* Maximum height */
  margin: auto; /* Center the modal on the screen */
  overflow: auto; /* Adds scroll to the modal if content is too long */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center;
  /* Other styles you want to apply to the modal */
}

.YourCustomModalClass  h2{
  padding: 2px;
  font-size:1.4rem;

}
input::placeholder {
  color: #9e9b9b;
  font-size:0.8rem /* Light grey placeholder text */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 10000; /* High z-index to be on top */
}

.modal-content {
  /* background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));  */
  background: linear-gradient(to bottom, #ffffff 0%, #fdc6c6 100%);
  color: rgb(195, 60, 60); /* Text color */
  z-index: 10000;
  padding: 0.2rem;
  position: flex;
  border-radius: 1.2px;
  max-width:auto;
  width: auto;
  margin: 2rem auto;
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
}

/* Form inside modal styles */
.modal-content form {
  display: flex;
  flex-direction: column; 
}

.modal-content [type="text"],
.modal-content [type="date"],
.modal-content [type="time"],
.modal-content  select {
  border: 0.5px solid #f0d2d2;
  padding: 0.5px; /* Padding inside inputs and select */
  border-radius:1px; /* Slightly rounded corners */
  margin-bottom: 15px; /* Space below each input/select */
  background-color: var(--input-bg); /* Light background color for inputs */
  color: #362f2f; /* Dark text for contrast */
  font-size: 0.9rem; /* Readable font size */
}


.modal-content form button {
  padding: 0.2rem 0.2rem;
  /* margin-right: flex; */
  border: none;
  background-color:linear-gradient(to right, var(--gradient-start), var(--gradient-end)); /* Gradient background */;
  border-radius: 2px;
  width:auto;
  cursor: pointer;
}

.modal-content form button:hover {
  background-color: #e7dadae5;

}
/* Make modal overlay cover the entire screen */
.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(227, 32, 32, 0.915); /* Dim the background */
}

/* Ensure the modal content is on top of the overlay */
.ReactModal__Content {
  z-index: 100000;
}


@media (max-width: 768px) {
  .modal-content {
    padding: 1rem;
    max-width: 90%;
  }

  .modal-content h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 769px) {
  .calendar-section,
  .trainer-list-section,
  .progress-overview-section {
    flex: 1 1 48%; /* Allows two sections in a row */
  }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .calendar-section,
  .trainer-list-section,
  .progress-overview-section {
    width: 100%; /* Full width on smaller screens */
  }
}

.progress-overview-section h2 {
  margin-top: auto;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center; 
  display: flex;
}

.progress-overview-section{
  margin-top: 2px;
}

.user-dashboard {
  background-image: var(--bg-gradient);
}


.common-header {
  font-size: 24px; /* or any other size you prefer */
  text-align: center;
  color: #132742; /* or any other color you want for the headers */
  margin: 0;
  padding: 20px 0; /* Adjust as needed for vertical spacing */
  background:none; /* Background color for the header (use your theme color) */
}


.dashboard-grid h3{
  
    font-size: 20px; /* or any other size you prefer */
    color: #132742; /* or any other color you want for the headers */
    margin: 0;
    padding: 20px 0; /* Adjust as needed for vertical spacing */
    background:none; /* Background color for the header (use your theme color) */
  
}

.section-workout {
  background:none; /* Change to a lighter background for better readability */
  padding-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(243, 6, 105, 0.923);
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Enhance the workout plan items */
.content-item {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out content and button */
  margin-bottom: 15px;
  padding: 15px;
  background: #ffebe5; /* A softer background color */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-item h4 {
  margin: 0; /* Remove default margins */
  font-size: 1.2rem; /* Increase font-size */
  color: #333;
}

.content-item p {
  margin: 0; /* Remove default margins */
  color: #555;
}

/* Hide the creation timestamp by default and only show it on hover */
.content-item p.created-timestamp {
  display: none;
}

.content-item:hover p.created-timestamp {
  display: block; /* Show the timestamp on hover */
}

/* Ensure buttons are visually consistent and clear */
.content-item button {
  padding: 10px 20px;
  background-color: #ff740a; /* Consistent button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.content-item button:hover {
  background-color: #e65a00; /* Darker shade on hover */
}

/* Style the 'Open' button with an icon */
.content-item button.open-btn {
  display: flex;
  align-items: center;
}

.content-item button.open-btn::before {
  content: '📂\00a0'; /* Folder icon with a space */
  font-size: 1.2rem;
}

/* Make sure the layout is responsive */
@media (max-width: 768px) {
  .content-item {
    flex-direction: column; /* Stack elements on smaller screens */
    align-items: flex-start; /* Align to start */
  }
}

  .content-item h4 {
    margin-bottom: 5px; /* Add space between title and paragraph */
  }

  .content-item button {
    width: 100%; /* Full-width buttons on small screens */
    margin-top: 10px; /* Space between paragraph and button */
  }

/* Ensure buttons are visually consistent 

  color: var(--heading-color);
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ffccbc;
  border-radius: 4px;
} 

.content-item buttonhover {
  background-color: #ffccbc;
  color: white;
}
*/