/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

:root {
  --primary-color: #e63232;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgb(246, 98, 49) 27%,
    rgb(245, 165, 136) 85%
  );
  --font-name: "Playfair Display", sans-serif;

  /* 
        #9785f2
        #b5a9f3s
        #d3cef2
        #d7337a
    */
}



/* reset default browwser styles*/
*{
  margin :0;
  padding :0;
  box-sizing :border-box;

}

body{
  font-family: var(--font-name);
  background: none;
}


section{
  padding: 50px 0px;
}

a{
  text-decoration: none;
  color:unset;

}

a:hover{
color:unset;
}

ul {
  list-style: none;
}

/*resuable class*/
.container{
  width: 1140px;
  padding:0px  30px;
  margin: auto;
}

.section_title{
  color: var(--heading-color);
  font-weight: 700;
} 



